.is-text-serif {
  font-family: serif;
}

.page-title {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;

  @include is-mobile() {
    font-size: 1.25rem;
  }

  &.is-left {
    text-align: left;
  }

  &.is-right {
    text-align: right;
  }
}

.page-subtitle {
  font-size: 1rem;
  text-align: left;
  border-bottom: 1px dotted currentColor;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.section-title {
  font-size: 1.4rem;
  color: $primary;
  font-weight: bold;
  text-align: center;
}

.text-valign-bottom {
  vertical-align: bottom !important;
  td {
    vertical-align: bottom !important;
  }
}

.text-valign-middle {
  vertical-align: middle !important;
  td {
    vertical-align: middle !important;
  }
}

.font-size-xxsmall {
  font-size: 0.7rem;
}

.font-size-xsmall {
  font-size: 0.75rem; // same ".help" font-size
}

.font-size-small {
  font-size: 0.8rem;
}

.font-size-medium {
  font-size: 0.9rem;
}

.is-text-bold {
  font-weight: bold;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.word-break-all {
  word-break: break-all;
}

.vertical-aligin-middle {
  vertical-align: middle !important;
}

.white-space-nowrap {
  white-space: nowrap;
}
