.flex-space-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.inline-flex-space-between {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

.disabled-resize {
  textarea,
  .textarea {
    resize: none !important;
  }
}

.is-pos-reletive {
  position: relative;
}

.is-cursor-pointer {
  cursor: pointer;
}

.is-text-right {
  text-align: right;
}

.is-max-width-100 {
  max-width: 100%;
}

.wrap-container {
  font-size: 0;
  span {
    display: inline-block;
    font-size: inherit;
  }
}
