// fonts
$family-primary: "M PLUS Rounded 1c", "Kosugi Maru", "Noto Sans JP",
  BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;

// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// 2. Set your own initial variables

// 3. Set the derived variables
$primary: #ff99a3;
$primary-invert: findColorInvert($primary);
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);

// 4. Setup your Custom Colors
$secondary: #ff99a3;
$accent: #ff99a3;

// sns
$twitter: #1da1f2;
$facebook: #3b5998;
$line: #00b901;
$pocket: #dc3d50;
$hatebu: #00a4de;

// misc
$grey: #58595b;
$text-color: #3a3a45;

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables";

$addColors: (
  "secondary": (
    $secondary,
    findColorInvert($secondary),
    findLightColor($secondary),
    findDarkColor($secondary)
  ),
  "accent": (
    $accent,
    findColorInvert($accent),
    findLightColor($secondary),
    findDarkColor($accent)
  ),
  "twitter": (
    $twitter,
    findColorInvert($twitter)
  ),
  "facebook": (
    $facebook,
    findColorInvert($facebook)
  ),
  "line": (
    $line,
    findColorInvert($line)
  ),
  "pocket": (
    $pocket,
    findColorInvert($pocket)
  ),
  "hatebu": (
    $hatebu,
    findColorInvert($hatebu)
  )
);
$colors: mergeColorMaps($colors, $addColors);
