// Import Bulma's core
@import "~assets/css/colors";
@import "~assets/css/variables";
@import "~assets/css/modules/typography";

// text
$text: $text-color;
$text-invert: findColorInvert($text);
$title-color: $text;
$panel-block-color: $text;

// Links
$link: $text;
$link-hover: $primary;
$link-hover-border: $primary;
$link-invert: $primary;
$link-focus: $primary;
$link-focus-border: $primary;

// Fottoer
$footer-background-color: $primary;

// Dimensions
$dimensions: 16 24 32 48 64 96 128 150;

// Dropdown
$dropdown-menu-min-width: 200px;
$dropdown-item-active-background-color: $primary-light;
$dropdown-item-active-color: $text;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~assets/css/modules/typography";
@import "~assets/css/modules/modals";
@import "~assets/css/modules/utils";
@import "~assets/css/modules/spacing";

@import "~assets/css/parts/panel";

svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
  vertical-align: -0.16rem;
}

a {
  &.href-link {
    text-decoration: underline;
  }

  &.has-underline {
    text-decoration: underline;
  }

  &.is-current {
    color: currentColor;
  }

  &.has-icon-link {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-left: 0.8rem;

    .icon {
      margin-left: 0.2rem;
    }

    border-bottom: 2px solid currentColor;
  }
}

.user-icon {
  box-shadow: 2px 2px 6px rgba($black, 0.4);
  border-radius: 50%;
  overflow: hidden;

  width: 96px;
  height: 96px;
  margin: 8px;

  img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &.is-avatar {
    width: 32px;
    height: 32px;
    margin: 0;
    background-color: white;
  }
}

.section {
  @include is-mobile() {
    padding: 2rem 0.8rem;
  }
}

// ****************************
// * Container
// ****************************
.container {
  &.is-max-touch {
    @include min($is-tablet + 1) {
      max-width: $is-tablet;
    }
  }

  &.is-max-mobile {
    @include min($is-mobile + 1) {
      max-width: $is-mobile;
    }
  }
}

// ****************************
// * Image
// ****************************
.image {
  img {
    height: 100%;
  }

  &.is-copy {
    max-width: 500px;
  }
}

// ****************************
// * Navbar
// ****************************
.navbar {
  .dropdown {
    .navbar-item {
      &:hover {
        background-color: bulmaDarken($primary, 5%);
      }
    }
  }
  .navbar-start > a.navbar-item,
  .navbar-end > a.navbar-item {
    background-color: transparent !important;
    padding: 0.25em 0.75em;
    border-bottom: 2px solid transparent;
    align-self: stretch;

    &:hover,
    &.is-active {
      border-color: white;
    }
  }

  .navbar-item-dropdown {
    align-self: stretch;

    > .dropdown-trigger > a.navbar-item {
      color: white !important;
    }
  }

  &.is-hero {
    .navbar-start > a.navbar-item,
    .navbar-end > a.navbar-item,
    .navbar-item-dropdown {
      align-self: center;
    }
  }

  .navbar-end {
    align-items: center;
  }
}

.dropdown-menu {
  a {
    display: flex !important;
    flex-flow: row wrap;
    align-items: center;
    .icon {
      margin-right: 0.5rem;
    }
  }
}

// ****************************
// * misc
// ****************************
.has-shadow {
  box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1),
    0 0px 0 1px rgba($scheme-invert, 0.02);
}
