// Import Bulma's core
@import "~assets/css/colors";
@import "~assets/css/variables";
@import "~assets/css/modules/typography";

// text
$text: $text-color;
$text-invert: findColorInvert($text);
$title-color: $text;
$panel-block-color: $text;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Fottoer
$footer-background-color: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~assets/css/modules/typography";
@import "~assets/css/modules/modals";
@import "~assets/css/modules/utils";
@import "~assets/css/modules/spacing";

svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
  vertical-align: -0.16rem;
}

a {
  &.has-underline {
    text-decoration: underline;
  }

  &.is-current {
    color: currentColor;
  }
}

.section {
  padding: 2rem 0.8rem;
}

// ****************************
// * Container
// ****************************
.container {
  &.is-max-touch {
    @include min($is-tablet + 1) {
      max-width: $is-tablet;
    }
  }

  &.is-max-mobile {
    @include min($is-mobile + 1) {
      max-width: $is-mobile;
    }
  }
}
