// fonts
$family-sans-serif: "M PLUS Rounded 1c", "Kosugi Maru", "Noto Sans JP",
  BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "~assets/css/colors";
@import "~assets/css/variables";

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "secondary": (
    $secondary,
    $secondary-invert
  ),
  "accent": (
    $accent,
    $accent-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  ),
  "facebook": (
    $facebook,
    $facebook-invert
  ),
  "line": (
    $line,
    $line-invert
  ),
  "pocket": (
    $pocket,
    $pocket-invert
  ),
  "hatebu": (
    $hatebu,
    $hatebu-invert
  ),
  "grey": (
    $grey,
    $grey-invert
  )
);

// text
$text: $text-color;
$text-invert: findColorInvert($text);
$title-color: $text;
$panel-block-color: $text;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Fottoer
$footer-background-color: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
