// page transiton: slide-fade
.page-enter-active,
.layout-enter-active {
  transition: all 0.2s ease;
}
.page-leave-active,
.layout-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-to {
  opacity: 0;
  @include min(1024px) {
    transform: translateX(30px);
  }
}

// ****************************
// * TRANSION: FADE
// ****************************
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// ****************************
// * TRANSION: MODAL
// ****************************
.modal-enter,
.modal-leave-to {
  opacity: 0;
}
.modal-enter-to,
.modal-leave {
  opacity: 1;
}
.modal-enter-active,
.modal-leave-active {
  transition: opacity 300ms;
}

// animation-content
.modal-enter-active .animation-content,
.modal-leave-active .animation-content {
  transform: translate(0px, 0px);
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.modal-enter .animation-content,
.modal-leave-to .animation-content {
  transform: translateY(-30px) translateY(0px);
}

// slide-content
.modal-enter-active .slide-content,
.modal-leave-active .slide-content {
  transform: translate(0px, 0px);
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.modal-enter .slide-content,
.modal-leave-to .slide-content {
  transform: translateY(100vh) translateY(0px);
}

// ****************************
// * TRANSION: LIST
// ****************************
.list-item {
  transition: all 0.6s;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  @include min(1024px) {
    transform: translateX(50px);
  }
}
.list-leave-active {
  position: absolute;
}
